.main-wrapper {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.bg-purple-dark {
  background: #99a9bf;
}
.el-col {
  padding: 10px 10px;
}

.el-scrollbar {
  background: $background-color;
}
.error {
  font-family: "StarWars", Helvetica, Arial;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #b27c17;
  text-align: center;
  @media (max-width: $desktop) {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  @media (max-width: $phone) {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
  }
}
